<div>
  <form
    class="flex flex-col gap-5"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit($event)"
  >
    <div class="flex justify-around w-full">
      <div class="flex flex-col gap-2">
        <label>date</label>
        <input type="date" pInputText formControlName="date" />
        @if (dateError) {
          <small class="text-red-600">{{ dateError }}</small>
        }
      </div>
      <div class="flex flex-col gap-2">
        <label>cdn</label>
        <input type="text" pInputText formControlName="cdn" />

        @if (cdnError) {
          <small class="text-red-600">{{ cdnError }}</small>
        }
      </div>
      <div class="flex flex-col gap-2">
        <label>customer</label>
        <p-autocomplete
          formControlName="customer"
          [forceSelection]="true"
          [suggestions]="filteredCustomers"
          (completeMethod)="filterCustomers($event)"
          optionLabel="name"
          optionValue="id"
          appendTo="body"
          [dropdown]="true"
        />
        @if (customerError) {
          <small class="text-red-600">{{ customerError }}</small>
        }
      </div>
    </div>
    <div class="flex flex-col gap-2 items-center">
      <app-card klass="flex flex-col gap-3 w-[800px]">
        <p-table
          [columns]="orderService.ordersColumns"
          [value]="orders.controls"
          class="w-full"
          [scrollable]="true"
          scrollHeight="500px"
        >
          <ng-template #caption>
            <div>
              <button pButton (click)="onAddOrder()" type="button" class="">
                Add
              </button>
            </div>
          </ng-template>
          <ng-template #header let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template #body let-row let-i="rowIndex">
            <tr [formGroup]="row">
              <td>
                <div>
                  <p-autocomplete
                    formControlName="product"
                    [forceSelection]="true"
                    [suggestions]="filteredProducts"
                    (completeMethod)="filterProducts($event)"
                    optionLabel="name"
                    optionValue="id"
                    appendTo="body"
                    [dropdown]="true"
                  />
                </div>
                <small
                  class="text-red-600"
                  *ngIf="
                    getErrorMessage(
                      row,
                      'product',
                      orderService.errors['product']
                    ) as errorMessage
                  "
                >
                  {{ errorMessage }}
                </small>
              </td>
              <td>
                <div>
                  <input type="number" pInputText formControlName="quantity" />
                </div>
                <small
                  class="text-red-600"
                  *ngIf="
                    getErrorMessage(
                      row,
                      'quantity',
                      orderService.errors['quantity']
                    ) as errorMessage
                  "
                  >{{ errorMessage }}</small
                >
              </td>
              <td>
                <button
                  pButton
                  severity="danger"
                  icon="pi pi-trash"
                  type="button"
                  (click)="onRemoveRow(i)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </app-card>
      <!-- @if (ordersError) {
      <small class="text-red-600">{{ ordersError }}</small>
    } -->
      <small
        class="text-red-600"
        *ngIf="
          getErrorMessage(
            formGroup,
            'orders',
            orderService.errors['orders']
          ) as errorMessage
        "
        >{{ errorMessage }}</small
      >
    </div>
    <small class="text-red-600">{{ orderService.message }}</small>
    <div>
      <button class="w-40" pButton>Save</button>
    </div>
  </form>
</div>
